/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.article-body pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.article-body ul, .article-body ol {
  margin-left: 1.35em;
}

.article-body code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.article-body pre code {
  border: none;
}

/* terminal */
.article-body pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.article-body pre.terminal code {
  background-color: #333;
}

/**
 * Header
 **/
#header {
  border-bottom: 1px solid #aaa;
  text-align: left;
}
#header h1 {
  display: inline-block;
  line-height: 2.5em;
}
#header h2 {
  display: inline-block;
  line-height: 2.5em;
  vertical-align: bottom;
  margin: 0;
  font-weight: normal;
}
#header h3 {
  display: inline-block;
  line-height: 2.5em;
  vertical-align: super;
  margin: 0;
  text-align: center;
}
#header .offbyon {
  background-color: #26ade4;
  color: #fff;
  padding-right: 1px;
  padding-left: 1em;
  display: inline-block;
}
#header h1 a {
  text-decoration: none;
  color: #26ade4;
}

/**
 * Articles
 **/
.article-title {
  border: 1px solid #aaa;
  border-top: none;
  padding-top: 1em;
}
.article-title h2 {
  font-size: xx-large;
  margin: 0;
}
.article-title .author {
  vertical-align: bottom;
}
.article-body {
  text-align: justify;
}
