---
layout: default
title: Off-by-One
published: true
---

<div id="home">
  {% for page in site.pages %}
    {% if page.path contains 'articles/' and page.published %}
      <div class="pure-g article">
        {% if page.img %}
          <img class="pure-u-1-3" src="{{site.url}}/images/{{page.img}}" />
        {% else %}
          <img class="pure-u-1-3" src="{{site.url}}/images/default.jpg" />
        {% endif %}
        <div class="pure-u-2-3">
          <h3><a href="{{ site.url }}{{ page.url | remove: 'index.html'}}">{{ page.title }}</a></h3>
          <p>{{ page.description }}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
